/* Generic classes */

body {
	min-width: 465px;
	width: 100%;
	height: 100%;
}

dl {
	margin-bottom: 0px;
}

dd {
	padding-bottom: 6px;
}
dd:last-child {
	padding-bottom: 0px;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

@-moz-document url-prefix() {
	input[type="checkbox"],
	input[type="radio"] {
		margin-top: 0px;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

label {
	font-weight: inherit;
}

#main_content {
	background-color: inherit;
}

.no-horizontal-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.panel-chart {
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 5px;
}

.panel-heading {
	padding-top: 3px;
	padding-bottom: 3px;
}
.panel-heading span {
	font-size: 14px;
}

.padding-small {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.slider .slider-handle {
	background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
}

.slider .tooltip-arrow {
	border-top-color: #d9edf7 !important;
}

.slider .tooltip-inner {
	background-color: #d9edf7;
	color: #31708f;
}

.slider.slider-horizontal {
	margin-left:12px;
	margin-right: 12px;
	margin-top: 32px;
	margin-bottom: 6px;
	width: calc(100% - 20px) !important;
}

.table-description {
	width: 100%;
}

.table-description > tbody > tr > td {
	width: 100%;
}

.table-description > tbody > tr > td:first-child {
	padding-right: 12px;
	text-align: right;
	width: auto;
	white-space: nowrap;
}

.table-description > tbody > tr:first-child td {
	padding-top: 0px;
}

.tooltip {
	z-index: inherit !important;
}


/* Navigation bar */

#btn_toggle_sidebar {
	margin-left: 15px;
}

.brand-sm {
	display: inline-block !important;
}
.brand-lg {
	display: none !important;
}

.gcode {
	display: inline;
	padding-left: 12px !important;
	padding-right: 8px !important;
	vertical-align: middle;
	white-space: nowrap;
}

.gcode span {
	display: inline-block;
	vertical-align: middle;
}

.gcode span.label {
	display: inline-block;
	margin-left: 15px;
}

/* There appears to be no easy way to right-align list item labels, so I use JS for now
*  If anyone has a better solution for this, please implement it.
*/
.gcode-float span.label {
	position: absolute;
	right: 9px;
	margin-top: 3px;
}

.navbar-brand {
	float: none;
	font-size: 20px;
	margin-left: 0px !important;
	padding-left: 3px !important;
	padding-right: 3px !important;
	padding-top: 15px !important;
}

.navbar-brand > abbr {
	border: 0px;
	margin-left: 9px;
}
.navbar-brand > abbr > span {
	color: #F0AD4E;
}

.navbar-default {
	margin-bottom: 0px;
}

.navbar-collapse {
	padding-left: 0px;
}

.navbar-label {
	margin-left: 0px !important;
	margin-right: 15px !important;
	margin-top: 17px;
	margin-bottom: 13px;
}

.navbar-table td {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar-table {
	margin-bottom: 0px;
}

.ul-bed-temp a,
.ul-active-temp a,
.ul-standby-temp a {
	text-align: right;
}

.ul-bed-temp,
.ul-active-temp,
.ul-standby-temp {
	min-width: initial;
}


/* Heater and Status elements */

#chart_temp {
	min-height: 50px;
	min-width: 50px;
	height: 200px;
}

#div_tools_heaters input[type="number"] {
	min-width: 50px;
}

#div_temp_chart {
	padding-left: 0px;
	padding-right: 0px;
}

#table_extruder_positions td {
	white-space: nowrap;
}

.input-td {
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

.panel-status {
	margin-bottom: 12px;
}

.probe-slow-down {
	color:	#FFFFE0;
}

.probe-trigger {
	color: #FFF0F0;
}

#div_info_panels {
	background-color: #FFFFFF;
	padding-top: 12px;
}

.span-collapse {
	cursor: pointer;
}

.table-centered-cells th, .table-centered-cells td {
	text-align: center;
	vertical-align: middle !important;
}

#table_heaters input[type="number"] {
	min: 0;
	max: 300;
}
#input_temp_bed {
	max: 160;
}

.table-fan-control {
	width: 100%;
}

.table-fan-control tr:first-child > td:first-child,
.table-fan-control tr:not(:first-child) > td:nth-child(2) {
	padding-right: 15px;
}

.table-fan-control tr > td:last-child {
	width: 100%;
}

.table-fan-control tr:not(:last-child) > td:last-child {
	padding-bottom: 9px;
}

#table_tools tr:first-child > th {
	width: 20%;
}
#table_heaters tr:first-child > th {
	width: 25%;
}

#table_tools tr > th:first-child,
#table_heaters tr > th:first-child {
	padding-top: 2px;
	padding-bottom: 3px;
}
#table_tools tr > th > *,
#table_heaters tr > th > * {
	display: block;
}
#table_tools tr > th > span:last-child,
#table_heaters tr > th > span:last-child {
	font-size: 11px;
}

.table-status {
	margin: 0px !important;
	table-layout: fixed;
}
div.panel table.table-status:not(:last-child)
{
	border-bottom:  1px solid #ddd;
}

.th-status {
	width: 100px;
}

.heater-0 {
	color: #0000FF !important;
}
.heater-1 {
	color: #FF0000 !important;
}
.heater-2 {
	color: #00DD00 !important;
}
.heater-3 {
	color: #FFA000 !important;
}
.heater-4 {
	color: #FF00FF !important;
}
.heater-5 {
	color: #337AB7 !important;
}
.heater-6 {
	color: #000000 !important;
}
.heater-7 {
	color: #E0E000 !important;
}
.chamber {
	color: #00DCDC !important;
}
.cabinet {
	color: #8b1892 !important;
}
.temp-sensor-0 {
	color: #AEAEAE !important;
}
.temp-sensor-1 {
	color: #BC0000 !important;
}
.temp-sensor-2 {
	color: #00CB00 !important;
}
.temp-sensor-3 {
	color: #0000DC !important;
}
.temp-sensor-4 {
	color: #FEABEF !important;
}
.temp-sensor-5 {
	color: #A0A000 !important;
}
.temp-sensor-6 {
	color: #DDDD00 !important;
}
.temp-sensor-7 {
	color: #00BDBD !important;
}
.temp-sensor-8 {
	color: #CCBBAA !important;
}
.temp-sensor-9 {
	color: #AA00AA !important;
}


/* Static sidebar (for desktops) */

.sidebar {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	background-color: #f5f5f5;
	border-right: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
}

.sidebar-continuation {
	border-top: 0px;
	min-height: 100vh;
	height: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
	z-index: -9999;
}

.nav-sidebar {
	margin-right: -20px;
	margin-bottom: 10px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	font-size: 15px;
	padding-right: 20px;
	padding-left: 20px;
	white-space: nowrap;
}

.nav-sidebar:last-child {
	margin-bottom: 0px;
}

.nav-sidebar .glyphicon {
	padding-right: 3px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

.nav-sidebar .span-refresh-scans,
.nav-sidebar .span-refresh-files,
.nav-sidebar .span-refresh-macros,
.nav-sidebar .span-refresh-filaments {
	position: absolute;
	right: 15px;
	top: 14px;
}


/* Dynamic sidebar (for mobile devices) */

.slideout-menu {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 220px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: none;

	background-color: #f5f5f5;
	padding-left: 15px;
}

.slideout-menu .nav-sidebar {
	margin-right: 0px;
}

.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
}

#section_actions {
	margin-top: 15px;
}

#section_actions,
#section_app {
	margin-right: 15px;
}

#section_actions > button,
#section_app > button {
	width: 100%;
	margin-bottom: 15px;
}

#section_actions > :last-child {
	margin-bottom: 30px;
}

#section_navigation > :last-child {
	margin-bottom: 15px;
}

#section_app {
	position: absolute;
	bottom: 0px;
	width: 190px;
}


/* Main content */

#div_content .panel-body {
	padding: 9px !important;
}

#div_content .panel-heading {
	padding-left: 9px !important;
	padding-right: 9px !important;
	text-align: center;
}

.page {
	display: none;
}

.page.active {
	display: block !important;
}

#panel_macro_buttons h4 {
	margin-top: 15px;
	margin-bottom: 0px;
}


/* Control page */

.atx-control div.btn-group {
	margin-bottom: 9px;
}

#btn_homeall {
	min-width: 82px;
}

.btn-group-vertical-justified {
	display: inline-block;
	width: 100%;
}

#page_control > div > div.col-right:last-child {
	float: right;
}

.home-warning {
	margin-top: -11px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#panel_control_misc {
	padding-bottom: 4px;
}
#panel_control_misc .btn-group label {
	padding-left: 0px;
	padding-right: 0px;
}

#panel_extrude button {
	padding-left: 6px !important;
	padding-right: 6px !important;
}

#panel_extrude .btn-group label.btn {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#panel_extrude div.panel-body > div:first-child {
	padding-bottom: 9px;
}

#mobile_home_buttons,
#mobile_extra_home_buttons {
	padding-bottom: 9px;
}

#panel_macro_buttons button {
	font-size: 14px;
}

#panel_macro_buttons li {
	text-align: center;
}

.table-move .btn-group {
	padding-bottom: 9px;
}

.table-move a {
	padding-left: 6px;
	padding-right: 6px;
}
.table-move a.btn-home {
	padding-left: 12px;
	padding-right: 12px;
}

.table-move td {
	padding-right: 12px;
	width: 50%;
}

.table-move tr > td:first-child {
	width: auto;
}

.table-move tr > td:last-child {
	padding-right: 0px;
}

#table_move_head tr:last-child div {
	padding-bottom: 0px;
}

tr[data-fan="print"] > td:first-child > button {
	width: 100%;
}

/* Calibration page (OEM) */

#div_calibration_webcam > div.panel-body {
	position: relative;
}

#ifm_webcam_calibration {
	width: 100%;
	border: 0px;
}

#img_crosshair {
	pointer-events: none;
	position: absolute;
	z-index: 1;
}

#img_webcam_calibration {
	width: 100%;
}

#table_calibration_tools > thead > tr > th:not(:first-child) {
	text-align: center;
}

#table_calibration_tools > thead > tr > th:last-child {
	width: 1%;
}

#table_calibration_tools > tbody > tr > td:first-child {
	vertical-align: middle;
}

#table_calibration_tools > tbody > tr > td:not(:first-child) {
	text-align: center;
}

#table_calibration_tools > tbody > tr > td:not(:first-child) > span {
	margin-left: 15px;
	margin-right: 15px;
}

/* Print status page */

#img_webcam {
	width: 100%;
}

#ifm_webcam {
	width: 100%;
	border: 0px;
}

#page_print .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}

#page_print .col-left {
	padding-right: 0px;
}

#page_print .slider-container {
	padding-right: 12px;
}

#page_print .progress {
	margin-bottom: 9px;
}

#progress {
	width: 100%;
	font-weight: bold;
}

#label_babystepping {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.layer-done-animation {
	background-color: #D9EDF7 !important;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear;
}

#layer_tooltip {
	position: absolute;
	display: none;
	border: 1px solid #fdd;
	padding: 2px;
	background-color: #fee;
	opacity: 0.80;
	z-index: 1;
}

#panel_print_control > div > div.btn-group-justified {
	padding-bottom: 6px;
}

#panel_print_control > div > div.btn-group-justified:last-child {
	padding-bottom: 0px;
}

#panel_print_control .btn {
	padding-left: 0px;
	padding-right: 0px;
}

#btn_baby_up,
#btn_baby_down {
    word-wrap: break-word;
    white-space: normal;
}

#div_cancel,
#panel_print_info .row > div:not(:first-child) {
	padding-left: 6px;
}

#panel_print_info table {
	table-layout: fixed;
}
#panel_print_info table th,
#panel_print_info table td {
	text-align: center;
}

#chart_print {
	min-height: 50px;
	min-width: 50px;
	height: 225px;
}

.chart-print-line {
	color: #EDC240;
}
#span_babystepping {
	white-space: nowrap;
}

@media (min-width: 970px) {
	#span_progress_right {
		float: right;
	}
}

#table_estimations {
	table-layout: fixed;
}

/* Scanner */

.scan-move-controls {
	text-align: center;
}

.scan-move-controls > div {
	margin-top: 15px;
}

.scan-move-controls > div:first-child {
	margin-top: 9px;
}

#table_scan_files_directory tr > td {
	width: auto;
	padding-right: 6px;
}

#table_scan_files_directory tr > td:nth-child(2) {
	padding-left: 0px;
}

#table_scan_files_directory tr > td:nth-child(3) {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#table_scan_files_directory tr > td:last-child {
	padding-left: 6px;
	padding-right: 0px;
}

#table_scan_files button > span {
	padding-top: 6px;
	padding-bottom: 6px;
}

#table_scan_files tr > td {
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	vertical-align: middle !important;
}


#table_scan_files tr > td:nth-child(2) {
	border-right: 0px;
	border-left: 0px;
	width: 1%;
}

#table_scan_files th:first-child {
	width: 97px;
}


/* G-Code console page */

#console_log {
	padding-top: 0px;
	background-color: #eee;
	border: 1px solid #bbb;
	margin-bottom: 15px;
}

#console_log div.row {
	padding-top: 3px !important;
	padding-bottom: 3px;
}

#page_console form > div {
	padding-left: 0px;
	padding-right: 9px;
}

#page_console form > div:first-child {
	padding-left: 15px;
}

#page_console form > div:last-child {
	padding-left: 0px;
	padding-right: 15px;
}

#page_console button[type='submit'] {
	padding-left: 6px;
	padding-right: 6px;
}

#page_console div.row:last-child {
	padding-top: 9px;
}

/* G-Code Files */

.btn-delete-directory {
	float: right;
	margin-right: 8px;
}

#btn_new_gcode_directory span {
	padding-right: 6px;
}

.breadcrumb-directory {
	margin-bottom: 0px !important;
}

.breadcrumb-directory > li:first-child span.glyphicon {
	padding-right: 3px;
}

#page_files h1 {
	margin-bottom: 20px;
}

#ol_gcode_directory {
	margin-bottom: 9px;
}

#ol_gcode_directory > li.pull-right:before {
	content: "";
}

.table-file-navigation {
	width: 100%;
	margin-bottom: 9px;
}

.table-file-navigation td:first-child {
	width: 100%;
}

.table-file-navigation td:not(:first-child) {
	padding-left: 6px;
}

.table-files {
	margin-bottom: 15px;
}

.table-files > tbody > tr > td:first-child > input[type="checkbox"] {
	margin-right: 8px;
}

.table-files tr > td:first-child {
	border-right: 0px;
	padding-right: 0px;
	width: 1%;
}

.table-files a > span.glyphicon {
	padding-right: 6px;
}

#table_gcode_files_directory tr > td:first-child {
	width: auto;
	padding-right: 6px;
}

#table_gcode_files_directory tr > td:nth-child(2) {
	padding-left: 0px;
	width: 100%;
}

/* Macros Page */

#btn_new_macro_directory span {
	padding-right: 6px;
}

#page_macros ol .pull-right:before {
	content: "";
}

/* Settings Page */

#btn_clear_cache {
	width: 100%;
}

#page_tools button,
#btn_add_gcode,
.machine-button {
	margin-top: 9px;
}

#btn_add_tool {
	margin-top: 25px !important;
	width: 100%;
}

.machine-button {
	padding-left: 4px;
	padding-right: 4px;
	width: 100%;
}

#check_heaters > label:first-child {
	padding: 6px;
}

#div_fan_settings div.checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}

#div_fan_settings > div {
	padding-right: 0px;
}

label[for="dropdown_language"] {
	margin-right: 6px;
}

#frm_settings li.open li > a {
	height: 40px;
	padding-top: 10px;
}

#div_show_empty_responses {
	margin-bottom: 5px;
}

#panel_head_temps > div > label:first-child {
	display: block;
}
#panel_head_temps > div > div.radio {
	display: inline-block;
	margin: 0px;
	margin-bottom: 9px;
	width: 49%;
}

#panel_tool_changes div.checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}

#software_info {
	margin-bottom: 7px;
}
#software_info tr * {
	padding-bottom: 8px;
}

#software_info tr > td {
	padding-left: 15px;
}

#p_uploadinfo {
	margin-top: 15px;
	margin-bottom: 0px;
}

#page_settings {
	padding-bottom: 15px;
}

#page_settings div.panel-body > div.checkbox:first-child {
	margin-top: 0px;
}

#page_settings div.panel-body > div.checkbox:last-child {
	margin-bottom: 0px;
}

#page_settings div.panel-body > label {
	margin-bottom: 3px;
}
#page_settings div.panel-body > label:not(:first-child) {
	margin-top: 6px;
}

.tab-content {
	border: 1px solid #ddd;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	padding: 15px;
	padding-bottom: 0px;
	margin-bottom: 15px;
}

.table-add-temp td:first-child {
	padding-right: 9px;
	width: 100%;
}

.table-add-temp .input-group {
	width: 100%;
}

.table-add-temp td:last-child {
	width: auto;
	vertical-align: bottom;
}

#table_add_gcode {
	width: 100%;
}
#table_gcodes {
	margin-bottom: 0px;
}

#table_gcodes .label {
	font-size: 95%;
}

#table_add_gcode td:first-child,
#table_gcodes > thead > tr > th:first-child {
	width: 35%;
}
#table_add_gcode td:first-child {
	padding-right: 9px;
}
#table_add_gcode td:nth-child(2),
#table_gcodes > thead > tr > th:nth-child(2) {
	width: 65%;
}
#table_gcodes > thead > tr > th:nth-child(3) {
	width: auto;
}
#table_gcodes > tbody > tr > td {
	vertical-align: middle;
}
#table_gcodes > tbody > tr > td:last-child {
	padding: 6px;
}

.temp-list > li {
	line-height: 30px;
	vertical-align: middle;
	padding: 6px;
}

#page_sysedit,
#page_display {
	margin: -16px -16px;
}

#page_sysedit h1,
#page_display h1 {
	margin-bottom: 31px;
}

#ol_sys_directory,
#ol_display_directory {
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 0px;
}

#ol_sys_directory .pull-right:before,
#ol_display_directory .pull-right:before {
	content: "";
}

#ul_control_dropdown_tools,
#ul_control_dropdown_heaters {
	padding: 5px;
}

#ul_control_dropdown_tools > li > a,
#ul_control_dropdown_heaters > li > a {
	padding-left: 6px;
	padding-right: 6px;
}

#ul_control_dropdown_tools > li:not(:first-child),
#ul_control_dropdown_heaters > li:not(:first-child) {
	padding-top: 5px;
}

/* Modals */

#modal_bed div.modal-footer > .pull-left {
	margin-right: 9px;
}

#modal_textinput div.input-group {
	width: 100%;
}

#table_upload_files {
	width: 100%;
}
#table_upload_files .progress {
	margin-top: 8px;
	margin-bottom: 8px;
}
#table_upload_files td {
	vertical-align: middle;
}
#modal_edit > div {
	width: calc(100vw - 60px);
}

#modal_edit > div > div,
#modal_bed > div > div {
	height: calc(100vh - 60px);
}

#text_edit {
	font-family: monospace;
	height: 100%;
	width: 100%;
	resize: none;
}

#modal_bed > div > div.modal-content {
	min-height: 400px;
}

#div_visualization {
	margin-bottom: 15px;
	padding-right: 0px;
}

#div_visualization_placeholder,
#div_legend {
	margin-bottom: 15px;
}

#div_visualization_placeholder > div {
	background-color: black;
	color: white;
}

#div_visualization_placeholder h3 {
	display: inline-block;
	vertical-align: middle;
}

#div_visualization > div.tooltip {
	pointer-events: none;
}

#div_legend {
	padding-left: 0px;
}

#canvas_legend {
	width: 100%;
}

#row_stats div > p:last-child {
	margin-bottom: 0px;
}

#btn_top_view {
	margin-top: 9px;
}

#progress_scan,
#progress_scan_postprocessing,
#progress_scan_upload,
#progress_calibration {
	min-width: 2em;
}

#modal_start_scan h4:first-child {
	margin-top: 0px;
}

#modal_start_scan .description {
	margin-left: 20px;
	width: calc(100% - 20px);
}

#modal_start_scan .description:not(:last-child) {
	margin-bottom: 20px;
}

#modal_start_scan .description > input,
#btn_toggle_laser {
	width: 100%;
}

#modal_messagebox div {
	text-align: center;
}

#h3_messagebox {
	margin-bottom: 20px;
}

#div_x_controls,
#div_y_controls,
#div_z_controls {
	margin-top: 20px;
}


/* Popovers */

.popover-content {
	padding: 6px;
}


/* Context menus */

#ul_file_contextmenu {
	position: absolute;
	display: none;
}
