@media (max-width: 767px) {
	.visible-xl {
		display: none !important;
	}

	/* Navigation bar */
	.navbar-checkbox {
		float: right;
		margin-right: 15px;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.navbar span.label-status {
		float: right;
	}

	/* Main content */
	#div_content {
		padding-top: 12px;
	}

	/* Static sidebar */
	.sidebar,
	.sidebar-continuaton {
		display: none;
	}

	/* Control page */
	#panel_head_movement > div.panel-heading {
		text-align: left;
	}

	#page_control {
		min-height: auto;
	}
	
	#page_control .col-right:last-child {
		padding-left: 15px;
	}
	
	/* Scanner page */
	#table_scan_files th:first-child {
		width: 100px;
	}

	/* G-Code console page */
	#page_console div.well {
		padding-left: 15px;
		padding-right: 15px;
	}

	/* G-Code files page */
	#page_files {
		padding-bottom: 15px;
	}

	/* Macros page */
	#page_macros {
		padding-bottom: 15px;
	}

	/* Settings page */
	#btn_language,
	#dropdown_theme {
		width: 100%;
	}

	#div_add_tool div.row > div > label {
		margin-top: 9px;
	}
}
