$card-title-font-size: 1rem;

$list-group-no-action-item-padding: 56px;
$list-item-action-icon-margin: 16px;
$list-item-dense-title-font-size: 0.9rem;
$list-item-dense-title-line-height: 1.1rem;

#title:not(:hover) {
	color: inherit;
}

.empty-table-fix td {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.global-control.theme--light {
	background-color: #F5F5F5 !important;
}
#global-container .v-card.theme--light {
	background-color: #F5F5F5 !important;
}
.global-control.theme--dark {
	background-color: #515151 !important;
}
#global-container .v-card.theme--dark {
	background-color: #515151 !important;
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

a:not(:hover) {
	text-decoration: none;
}

textarea {
	line-height: 1.25rem !important;
}

.theme--dark textarea {
	caret-color: #FFF;
}

.v-item-group.theme--dark .v-btn__content {
	color: #FFF !important;
}

.v-speed-dial--fixed {
	z-index: 5;
}

.v-btn {
	text-transform: unset !important;
}
